.input-type input {
  display: none;
}
.input-type label i {
  color: var(--c-white);
}
.input-type label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: var(--c-white);
  border-radius: 16px;
  padding: 0.75rem 1rem;
  background-color: var(--c-secondary);
  transition: all ease 0.4s;
}
.input-type label:hover {
  background-color: var(--c-secondary-hover);
}
.input-type label.active {
  background-color: var(--c-success);
}
.input-type label.disabled {
  pointer-events: none;
  background-color: var(--c-light);
}
.input-type label.disabled:hover {
  background-color: var(--c-light);
}
